.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
    gap: 10px;
    padding: 110px;
    justify-items: center; 
    align-items: start; 
  }
 
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button:disabled {
  background-color: #c6c6c6;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
  color: #333;
}

.pagination .loading {
  font-size: 14px;
  color: #333;
  font-style: italic;
}
