.productCard {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: auto;
    min-height: 370px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.productImage {
    width: 300px;
    max-width: 300px;
    height: 200px;
    max-height: 200px;
    object-fit: cover;
    padding-top: 5px;
}

.productDetails {
    padding: 15px 15px 0px 15x;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    text-align: center;
}

.productTitle {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
}

.productDescription {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 15px;
}

.productPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-left: 50px;
}

.priceLeft {
    font-size: 16px;
    font-weight: bold;
}

.priceRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.priceRight .antBtn {
    padding: 0;
    color: #333;
    background-color: antiquewhite;
    width: 80px;
    font-size: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.customCartButton {
    width: 150px;               /* Set width */
    height: 40px;              /* Set height */
    border-radius: 8px;        /* Set rounded corners */
    /* Add shadow */
    padding: 0;                /* Remove padding */
}

.buyBtn {
    background-color:  #4d4d4e;
    color: white;
    border-top-left-radius: 0;  
    border-top-right-radius: 0; 
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    margin-top: auto;
}

.buyBtn:disabled {
    background-color: #94a3b8;
    cursor: not-allowed;
}
